# Directories and files specified in this file are ignored by git and therefore
# will not be commited to the remote repository on push
#
# Depending on your technology stack, there are folders that should be ignored
# by default to prevent conflicts when collaborating.
# Some frameworks automatically include a specific gitignore file when creating
# a project folder from a template.
#
# For example, if your project is build using Node.js, you should add the
# `node_modules/` folder.
#
# Another best practice is to exclude files that contain secret keys or
# passwords
#
# There are several generators for gitignore files available online - just
# google it!

# This .gitignore is tailored for macOS
# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
